<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567143444276-dh83rsl1nma84ih46ed4ekkgu116r3it.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567143444276-dh83rsl1nma84ih46ed4ekkgu116r3it</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>567143444276-87gj25j73bafm2jg3f2josdjt7hj0loi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBkJF5I6YSkSzTrbvc941QL-FtYuva2Sos</string>
	<key>GCM_SENDER_ID</key>
	<string>567143444276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stanimeros.near</string>
	<key>PROJECT_ID</key>
	<string>near-98344</string>
	<key>STORAGE_BUCKET</key>
	<string>near-98344.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567143444276:ios:e242fe96aa6e957f793f61</string>
</dict>
</plist>